.Banner{
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title{
  font-size: 50px;
}

.subtitle{
  color: #9e9e9e;
}

.columnaderecha{
  width: 45%;
  display: flex;
  justify-content: center;
  float: left;
}


.archivo-reseña-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.archivo, .reseña {
  flex: 1;
  max-width: 90%;
  border-radius: 10px;
  background: #332A2A;
  margin: 1%;
  padding: 5%;
}

.contexto {
  border-radius: 10px;
  background: #332A2A;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0%;
  padding: 2%;
}


.fondo {
  background-color: #282121;
  color: #ffffff;
  padding: 50px;
}


.context-title{
  
  font-size: 30px;
  text-align: center;
  color: #ffffff;
}


.context{
  padding-top: 4%;
  font-size: 20px;
  text-align: center;
}

.formpadd{
  padding-top: 1rem !important;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
  padding-bottom: 2rem !important;
}

.option1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: #ffffff;

}

.option2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  color: #ff9933;

}



.centrarbot{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 5rem !important;
  padding-right: 5rem !important;
}



.bot{

  max-width: 10rem !important;
  width: 100% !important;

}

.centres{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  
}

.greeting{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  font-family: cursive;
  color: #ffff00;
  
}



